:root {
  --background-primary: #101fe0;
  --background-secondary: #4c63c9;
  --background-tertiary: #a7b0d9;
  --background-accent: #b0d2e5;
  --background-extra: #aa9ea7;
  --background-extra2: #2c2f30;
  --background-extra3: #809391;
  --text-primary: #e5e6e9;
  --white-color: #f1f6fd;
  --color-success: #43b581;
  --color-danger: #f04747;

  --canvas-background: "#151e29";
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::-webkit-scrollbar-thumb {
  background: var(--background-secondary);
  border-radius: 5px;
}
*::-webkit-scrollbar {
  background: #2d3748;
  width: 5px;
}
input[type="range"]::-webkit-slider-runnable-track {
  background: none;
}
input[type="range"]::-moz-range-track {
  background: none;
}

.code-editor {
  border-radius: 10px;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
