:root {
  --background-primary: #101fe0;
  --background-secondary: #4c63c9;
  --background-tertiary: #a7b0d9;
  --background-accent: #b0d2e5;
  --background-extra: #aa9ea7;
  --background-extra2: #2c2f30;
  --background-extra3: #809391;
  --text-primary: #e5e6e9;
  --white-color: #f1f6fd;
}
.code-editor {
  border-radius: 10px;
}
